.promo {
  &__subtitle {
    margin-top: 154px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }
  &__title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
  }
  &__wrap {
    margin-top: 40px;
  }
  &__wrap,
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    width: 270px;
    height: 100px;
    border: none;
    background: $blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border: solid 2px $blue;
    transition: 0.6s;
    cursor: pointer;
    &:hover {
      border: solid 2px $white;
    }
  }
  &__social {
    width: 267px;
    height: 48px;
  }
}
@media (max-width: 992px) {
  .promo {
    &__social {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .promo {
    &__subtitle {
      margin-top: 100px;
    }
    &__title {
      font-size: 48px;
      line-height: 56px;
    }
    &__btn {
      height: 80px;
    }
  }
}
@media (max-width: 640px) {
  .promo {
    &__subtitle {
      font-size: 20px;
      line-height: 26px;
    }
    &__title {
      margin-top: 24px;
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
    }
  }
}
@media (max-width: 480px) {
  .promo {
    &__subtitle {
      margin-top: 80px;
      font-size: 18px;
      line-height: 24px;
    }
    &__title {
      margin-top: 24px;
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
    }
  }
}
